body {
    padding: 0;
    margin: 0;
    background-color: #333;
}

.background {
    position: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 0 0 100% 0;
    
    z-index: 9999;
    background-color: rgba(114,114,114);
    overflow: hidden;
    transition: all .4s cubic-bezier(.2,.45,.3,1);
}

#mouseDown{
    position: absolute;
    background: rgba(0,0,0, 0.08);
    width: 100%;
    padding: 10px 0;
    height: 10px;
    z-index: 10000;
    backdrop-filter: blur(8px);
    transition: all .4s cubic-bezier(.2,.45,.3,1);
}
#mouseDownWhitePlace{
    display: block;
    height: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 10em;
    background-color: rgba(255, 255, 255, 0.5);
}
.bg1 {
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(10vw) brightness(0.45);
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.000, 0.715, 0.445, 0.995);
    display: none;
    animation: huadong2 0.5s;
    opacity: 1;
}
@keyframes huadong2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.bgFlex {
    margin: 0 auto;
    height: 100%;
    opacity: 1;
    gap: 60px;
    flex-wrap: nowrap;
    animation: huadong 0.5s cubic-bezier(.2,.45,.3,1);
}
@keyframes huadong {
    0%{
        opacity: 0;
        transform: translate(0%,100%);
    }
    100%{
        opacity: 1;
        transform: translate(0%,0%);
    }
}
.bgFlexItem {
    width: 50vw;
    height: 100%;
    overflow: hidden;
}
.bgFlexItemLB{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bgFlexItemLeftBox {
    justify-content: center;
    height: 100%;
    border-radius: 17px;
    display: flex;
    width: calc(45vh + 48px);
    flex-direction: column;
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
}

.bgFlexItemLeftBoxDisplay {
    --imagewidth: 45vh ;
    font-family: Bahnschrift, font;
    background: rgba(255, 255, 255, 0.78);
    height: fit-content;
    border-radius: 25px;
    overflow-y: auto;
    padding: 24px;
}

.bgFlexItemLeftBoxImage {
    width: var(--imagewidth);
    height: fit-content;
    transform: translate(-20px,-18px)
}

.image1box {
    position: absolute;
    width: var(--imagewidth);
    z-index: 1;


}

#image1 {
    width: var(--imagewidth);
    border-radius: 23px;
    filter: blur(10px);
}

a:link,
a:active,
a:visited {
    text-decoration: underline 2px #000;
    color: #000;
}

a:link:hover {
    text-decoration: underline #000;
}

#image2 {
    position: absolute;
    width: var(--imagewidth);
    border-radius: 23px;
    z-index: 3;
}

#image3 {
    width: var(--imagewidth);
    border-radius: 23px;
    z-index: 3;
}

.bgFlexItemLeftBoxText {
    height: fit-content;
    padding: 20px;
    background: #fff;
    background-color: rgba(246, 246, 255, .75);
    margin-bottom: 20px;
    color: #000;
    border-radius: 23px;
    
}
.bgFlexItemLeftBoxButton{
    height: fit-content;
    display: flex;
    gap: 8px;
    height: 38px;;
    margin-top: 15px;
    color: #000;
}
.bgFlexItemLeftBoxButton div{
    box-shadow: 0 0 4px rgba(100, 100, 100, 0.5);
    border-radius: 9px;
    padding: 3px;
    transition: all .1s cubic-bezier(.3, .45, .2, .95);
}
.bgFlexItemLeftBoxButton div:active{
    transform: scale(.9);
}
#bgFlexItemLeftTitle {
    font-size: 30px;
}

.bgFlexItemLeftOther div {
    display: inline-block;
}
.bgFlexItemLeftOther div img{
    user-select: none;
}
.bgFlexItemLeftBoxLyric{
    height: fit-content;
    display: none;
    color: #333;
    border-radius: 11px;
    min-height: 20px;
}
#bgFlexItemLeftLyric div{
    display: none;
}


.bgFlexItemLeftBoxText,

.bgFlexItemLeftBoxText:hover,
.musicC:hover {
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.3);
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.3);
}
#Js_NewMessage{
    display: block;
    max-width: 280px;
    width: fit-content;
    height: max-content;
    padding: 15px 30px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(100, 100, 100, 0.1);
    position: fixed;
    left: 50%;
    top: 0px;
    text-align: center;
    transform: translate(-50%,-200%);
    background-color: rgb(var(--color));
    color: white;
    z-index: 99999999;
    animation: message 8s ;
    animation-timing-function: cubic-bezier(.3, .45, .2, .95);
}
@keyframes message {
    0%,100%{
        display: none;
        transform: translate(-50%,-100%) scale(.8) ;
    }
    1%,99%{
        display: block;
        top: 0px;
        opacity: 0;
        transform: translate(-50%,-100%) scale(.8) ;
    }
    10%,90%{
        display: block;
        opacity: 1;
        transform: scale(1) translate(-50%,0);
        top: 20px;
    }
    
}

button[data-plyr="play"]{
    display: none;
}
div[class="plyr__controls__item plyr__time--current plyr__time"],div[class="plyr__controls__item plyr__volume"]{
    display: none;
}
.plyr{
    --imagewidth: 410px;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-family: var(--plyr-font-family, inherit);
    font-variant-numeric: tabular-nums;
    font-weight: var(--plyr-font-weight-regular, 400);
    line-height: var(--plyr-line-height, 1.7);
    text-shadow: none;
    box-sizing: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    background: none;
    border-radius: 0px;
}

.musicC{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    background-color: rgba(246, 246, 255, .75);
    border-radius: 11px;
    box-shadow: rgba(100, 100, 100, 0.3) 0px 0px 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.musicC-view{
    height: 32px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}
.musicC-view +a{
    
}
.musicC-button{
    display: flex;
    gap: 8px;
    height: 38px;;
    color: #000;
    justify-content: center;
}
.musicC-button div{
    box-shadow: 0 0 4px rgba(100, 100, 100, 0.7);
    border-radius: 9px;
    padding: 8px;
    transition: all .1s cubic-bezier(.3, .45, .2, .95);
}

.musicC-button div:active{
    transform: scale(.9);
}
#ShotIcon{
    transform: scale(1.2);
}
.settingLine{
    height: 60px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setSelectBox{
    background-color: rgb(245,245,247);
    padding: 8px 15px;border-radius: 9px;
    font-size: medium;
    
    width: fit-content;
    user-select: none;
    margin: 0 0 0 auto;
    box-shadow: 0 6px 12px -4px rgb(0 0 0 / 8%);
}
.setSelectBox:hover{
    background-color: rgb(234,239,253);
    padding: 8px 15px;border-radius: 9px;
    font-size: medium;
}
.setSelectBoxList{
    user-select: none;
    pointer-events: all;
    gap: 10px;
    font-size: medium;
    overflow: hidden;
    display: none;
    height: max-content;
    width: max-content;
    opacity: 0;
    float: right;
    background-color: hsla(0,0%,100%,.50);
    border-radius: 9px;
    z-index: 200;
    box-shadow: 0 6px 12px -4px rgb(0 0 0 / 8%);
    backdrop-filter: blur(8px);
    margin-top: 8px;
    transition: all .2s cubic-bezier(.2,.45,.3,1);
    
}
.setSelectBox:active + .setSelectBoxList,.setSelectBox:focus,.setSelectBoxList:hover{
    display: block;
    opacity: 1;
    pointer-events: all;
}

.setSelectBoxList div{
    padding: 8px 15px;
}
.setSelectBoxList div:hover{
    
    background-color: #00000005;
}

@media (max-width:470px){
    .bgFlexItemLeftBoxDisplay{
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        border-radius: 0;
        display: flex;
        gap: 15px;
        padding: 0;
        height: calc(100vh - 20px);
        flex-direction: column;
        align-items: center;
    }
    .bgFlexItemLeftBoxText{
        width: calc(45vh - 40px);
        margin: 0 auto;
    }
    .musicC{
        width: calc(45vh - 20px);
    }
    #image3 {
        position: relative;
        width: var(--imagewidth);
        border-radius: 23px;
        z-index: 3;
    }
    #image1{
        width: 100%;
    }
    .bg1{
        display: none;
    }
}

@media (max-width:100vh){
    .bgFlexItemRiBox{
        display: none;
        width: 0;
        height: 0;
    }
    .bgFlexItemLB{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bgFlexItem{
        width:470px;
    }
    .bgFlex {
        width:470px;
        gap: 0;
    }
.bgFlexItemLeftBoxLyric{
    display: block;
}

}
