@font-face {

    /* font-properties */

    font-family: font;

    src:url(../font/HarmonyOS_Sans_SC_Medium.ttf);/*url(../font/HarmonyOS_Sans_SC_Black.ttf),
    
    url(../font/HarmonyOS_Sans_SC_Bold.ttf),
    url(../font/HarmonyOS_Sans_SC_Medium.ttf),
    url(../font/HarmonyOS_Sans_SC_Regular.ttf),
    url(../font/HarmonyOS_Sans_SC_Thin.ttf),
    url(../font/HarmonyOS_Sans_SC_Light.ttf);  IE9 */
    

}
@font-face {

    /* font-properties */

    font-family: Bahnschrift;

    src:url(../font/bahnschrift.ttf);/*url(../font/HarmonyOS_Sans_SC_Black.ttf),
    
    url(../font/HarmonyOS_Sans_SC_Bold.ttf),
    url(../font/HarmonyOS_Sans_SC_Medium.ttf),
    url(../font/HarmonyOS_Sans_SC_Regular.ttf),
    url(../font/HarmonyOS_Sans_SC_Thin.ttf),
    url(../font/HarmonyOS_Sans_SC_Light.ttf);  IE9 */
}

body{
    padding: 0;
    margin: 0;
    font-family: Bahnschrift,font;
}
button{
    font-family: Bahnschrift,font;
}
body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 12px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 16px;
    border-radius: 0x;
    background: rgb(104, 104, 104);
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 0px;
    background: rgba(255,255,255,0.45);
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 0px;
    background: rgb(104, 104, 104);
}
.topbar{
    position: absolute;
    backdrop-filter: blur(8px);
    height: 54px;
    width: 100%;
    min-width: 600px;
    background-color: #ffffff70;
    z-index: 200;
    
}
.topbarIndex{
    padding: 0px 10vw 0px 10vw;
    display:flex;gap: 8px
}

@media (max-width: 1336px) {
    .topbarIndex {
        padding: 0px 5vw 0px 5vw
    }
}

@media (max-width: 580px) {
    .topbarTitle {
        display: none;
    }

    .index-grid-row {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-row-songs{
        grid-template-columns: repeat(1, 1fr);
    }
}
.topbarTitle{
    line-height: 54px;
    font-family: 'Bahnschrift';
    font-size: 24px;
    pointer-events: none;
    float: left;
}
.topbarTitle::after{
    border-left: 3px solid #000;
    height: 24px;
    content: "";
    margin: 0 16px 0 24px;
}

.topbarBuLefHead{
    padding: 8px 0px;
    margin: 0 4px;
    font-size: 0px;
    line-height: 0px;
    height: 38px;
    width: 38px;
    display: inline-block;
    border-radius: 11px;
}
#HeadImg,#HeadInfoImg{
    
    border-radius: 11px;
}
.topbarBuLefHead:hover + .HeadInfo,.HeadInfo:hover{
    display: block;
    opacity: 1;
    pointer-events: all;
}
.HeadInfo{
    pointer-events: none;
    position: absolute;
    display: none;
    padding: 8px 8px 8px 8px;
    margin: 0 4px;
    font-size: 0px;
    height: max-content;
    width: max-content;
    opacity: 0;
    background-color: hsla(0,0%,100%,.50);
    border-radius: 11px;
    transform: translate(-8px,-54px);
    z-index: 200;
    box-shadow: 0 6px 12px -4px rgb(0 0 0 / 8%);
}
.HeadInfoButtom{
    
    display: grid;grid-template-columns: repeat(1);
    font-size: 18px;
    gap: 10px;
    height: max-content;
}
.HeadInfoButtom div{
    backdrop-filter: blur(8px);
    display: flex;
    font-size: 18px;
    height: max-content;
    color: rgb(80, 80, 80);
    background-color: #00000010;
    border-radius: 11px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}
.HeadInfoButtom div img{
    font-size: 0px;
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
.HeadInfoButtom div:hover{
    
}
#HeadInfoImg{
    width: 38px;
    height: 38px;
}
#HeadInfoNickName{
    padding: 8px;
    font-size: 18px;
    min-width: max-content;
    width: max-content;
    overflow: hidden;
    
}

.topbarButton{
    height: 36px;
    border-radius: 11px;
    margin: 9px 0;
    background-color: rgba(246, 246, 255, 1.0);
    transition: all 0.2s cubic-bezier(0.30, 0.50, 0.25, 0.90);
    padding: 0 12px;
    line-height:36px;
    user-select: none;
    cursor: pointer;
}
.topbarButton:HOver{
    height: 36px;
    border-radius: 11px;
    margin: 9px 0;
    background-color: rgb(238, 238, 255);
}
.topbarButton:active{
    transform: scale(0.96);
}

.topbarBuLef{
    padding: 10px 8px 0 8px;
    margin: 0 4px;
    line-height: 34px;
    font-size: 16px;
    display: inline-block;
}


.topbarBuRi{
    padding: 10px 8px 0 8px;
    margin: 0 4px;
    line-height: 34px;
    font-size: 16px;
    display: inline-block;
    float: right;
}
.hoverunderline:hover{
    border-bottom: 2px solid #000;
}

.link{
    border-bottom: 2px solid #000;
    color: #000;
}
.link:hover{
    border-bottom: 2px solid #fff;
}
::selection {
    background:rgb(127, 85, 255);
    color:#fff;
    text-shadow: 0px 0px 0px #fff; /* 文本颜色 */ 
}
.button{
    background: rgba(0,103,184);
    border: 0;
    padding: 8px 20px 8px 20px;
    font-size: 18px;
    font-family: '黑体';
    color: #fff;
}

.button:hover{
    border: 2px solid #000;
    padding: 6px 18px 6px 18px;
}

.button:active{
    border: 2px solid #fff;
    padding: 6px 18px 6px 18px;
}

/*包含以下五种的链接*/
a {
    text-decoration: none;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}

.spinner {
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)scale(2);
    z-index: 4;
    position: fixed;
    transition: all 0.6s cubic-bezier(0.000, 0.4, 0.5, 1);;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
